@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: rgb(255, 206, 82);
}

header {
    background-color: rgb(120, 74, 6);
}

.circle {
    $back-color: #e0b94d;
    $font-color: #f40c0c;
    background-color: $back-color;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 800;
    color: $font-color;
    text-align: center;
    width: 18px; // Define el ancho de cada div según tus necesidades.
    height: 18px; // Define la altura de cada div según tus necesidades.
    margin-right: 20px;
}

.divcart {
    display: flex;
}