@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$color-marron: rgb(89, 55, 5);
$color-beich: rgb(239, 186, 108);

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color:$color-marron;
}

footer{
    background-color: $color-beich;
}
a:hover {
    color: rgb(255, 206, 82);
}

.circle {
    $back-color: #e0b94d;
    $font-color: #f40c0c;
    background-color: $back-color;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 800;
    color: $font-color;
    text-align: center;
    width: 18px; // Define el ancho de cada div según tus necesidades.
    height: 18px; // Define la altura de cada div según tus necesidades.
    margin-right: 20px;
}

.divcart {
    display: flex;
}